/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  h1 {
    font-size: 2.6rem;
  }
  
  h2 {
    font-size: 4.8rem;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  h4,
  h5 {
    font-size: 1.8rem;
  }
  
  li,
  button {
    font-size: 2rem;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* header */
  
  .main-head {
    background: #000000;
    color: #ffffff;
  }
  
  nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  #logo {
    flex: 2 1 40rem;
    font-family: "Pacifico", cursive;
    font-weight: normal;
  }
  
  /* hero */
  .hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0, 0.4), transparent),
      url("https://gitlab.com/aristocat/artistocatt/-/raw/master/public/medias/presentation/welcome.png"); /* photo de couverture du site (body) */
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h3 {
    padding: 4rem;
  }
  
  button {
    padding: 2rem 6rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
  }
  
  @media screen and (max-width: 885px) {
    html {
      font-size: 45%;
    }
    nav {
      text-align: center;
    }
    #logo {
      padding: 2rem;
    }
  }
  
  /* Styles for light theme */
  .theme-light {
    background: rgb(255, 255, 255);
    color: #000000;
  }
  
  /* Styles for dark theme */
  .theme-dark {
    background: rgb(0, 0, 0);
    color: #ffffff;
  }
  
  .emoji {
    isolation: isolate;
  }
  
  footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #fff;
    color: #333;
  }
  .content-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 100px;
  }
  
  .bloc {
    flex-basis: 20%;
    margin: 0 30px;
  }
  
  /* contact */
  .footer-contact h3,
  .footer-services h3,
  .footer-schedule h3,
  .footer-medias h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }
  
  .footer-contact p {
    padding: 5px 0;
  }
  
  /* Services */
  
  
  .services-list,
  .schedule-list,
  .media-list {
    list-style-type: none;
  }
  .services-list li {
    padding: 2px 0;
  }
  .services-list a {
    text-decoration: none;
    color: #333;
  }
  .services-list a:hover {
    color: rgb(3,3,3);
  }
  
  
  /* Medias */
  
  .media-list {
    position: relative;
    right: 10px;
  }
  .media-list svg {
    width: 30px;
    margin: 10px 10px;
  }
  .media-list a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  
  /* Media queries */
  
  @media screen and (max-width: 1000px) {
  
    .content-footer {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .bloc {
        flex-basis: auto;
        margin: 20px 20px;
    }
  
  
  }
  
  
  @media screen and (max-width: 600px) {
    .content-footer {
        justify-content: center;
        padding-top: 30px;
    }
    .bloc {
        flex-basis: 70%;
        /* margin: 10px; */
    }
    .footer-contact h3,
    .footer-services h3,
    .footer-schedule h3,
    .footer-medias h3 {
        padding-bottom: 5px;
    }
  
  }
  
  
  /* details */
  details {
    border: 3px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: 40%;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  
  /* images border-radius */
  img {
    border-radius: 1%;
  }
  
  /* texte effect*/
  .typing {
    height: 80vh;
  }
  
  .typing-effect {
    width: 22ch;
    animation: typing 2s steps(22), effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes effect {
    50% {
      border-color: transparent;
    }
  }
  
  /* color selection */
  h1::selection {
    background-color: #000000;
  }
  
  h2::selection {
    background-color: #000000;
  }
  
  h3::selection {
    background-color: #000000;
  }
  
  h4::selection {
    background-color: #000000;
  }
  
  h5::selection {
    background-color: #000000;
  }
  
  h6::selection {
    background-color: #000000;
  }
  
  /* ScrollBar */
  *::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Back to Top Bouton */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* Google Login */
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }
  .login-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .login-form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .login-form button:hover {
    background-color: #000000;
  }